<!DOCTYPE html>
{#
  index.html: initial landing page with directions.
#}
<html>
  <head>
    <script src='/static/js/jquery-2.1.1.js'></script>
    <link rel='stylesheet' href='/static/css/style.css'>
  </head>
  <body>
    <p>Please type in the browser address bar, the following URL pattern:</p>
    <div>{{request.url}}quiz/merge?stream1=xxx&stream2=yyy</div>
    <p>Note: is a string value without spaces or special characters</p>
    <p>Note: is a string value without spaces or special characters</p>
  </body>
</html>

